.navbar-brand {
    color: white !important;
}

body {
    padding-top: 70px;
    background-color: #1B2845;
    top: 0 !important;
}

div.template {
    display: none;
}

.entry-header {
    overflow:hidden;
    clear: both;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .entry-header {
        font-size: 13px !important;
    }
    .entry-date {
        font-size: 11px !important;
    }
}

.entry-title {
    float: left;
}

.entry-date {
    float: right;
    display: flex;
    align-items: center;
}

.heading {
    float: none !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.panel {
    margin-bottom: 20px !important;
}

.navbar-default {
    background-image: none;
    background-color: #5899E2;
}

.panel-heading, .panel-body {
    background-color: #274060 !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-default {
    border: none !important;
}

button {
    background-color: transparent;
    height: 50%;
    border: none;
}

.navbar-darkmode {
    background-color: #000000;
}

.panel-darkmode {
    background-color: #4A4A4A !important;
}

.bg-danger {
    text-align: center;
    font-size: 16px;
    color: white;
}

/* for Modal*/
.modal-content {
    background-color: #1B2845;
    color: white;
}

.modal-darkmode {
    background-color: #1E1E1E !important;
}

.modalbutton {
    border-radius: 3px;
    background-color: #274060 !important;
    border: none;
    background-image: none;
}

.modalbutton-darkmode {
    background-color: #4A4A4A !important;
}

.modalbutton :hover {
    background-color: #5899E2 !important;
    background-image: none !important;
}

.close {
    color: red;
    opacity: 1.0;
}

.notice {
    font-size: 12px;
    margin-top: 12px;
}

/* CSS for Toggle Switch*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* For hiding google translate bar*/
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
